footer{
  min-width:1300px;
  background-color:#141414;
}
footer > .container{
  padding:80px 100px 0;
  height:280px;
  color:#bcbcbc;
  font-size:14px;
  line-height:1.8;
  display:flex;
  justify-content: space-between;
}
.author h2{
  color:#fff;
  margin-bottom:20px;
}
.links{
  display:flex;
  gap:70px;
}
.links a{
  color:#bcbcbc;
}